//=========================================
//  Вертикальное и горизонтальное центрирование
//  картинки + растягивание её на весь родительский блок,
//  если её стандартного размера недостаточно.
//
//  Параметр $minSize может помочь с ошибками округления.
//  Для этого нужно указать значение, чуть болше 100%.
//  Например:
//    @include centrizeImage($minSize: 100.5%);
//=========================================
@mixin centrizeImage($zIndex: 1, $minSize: 100%) {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: #{$minSize};
  min-height: #{$minSize};
  max-width: none;
  z-index: #{$zIndex};
  @include transform(translate(-50%, -50%));
}