@import 'mixins';

.breadcrumbs {
  margin-top: 30px;
  font-weight: 500;
  @include font_default;
  @include font-size(11px, 21px);

  @include media_interval(0, $media768){
    margin-top: 20px;
  }

  .breadcrumb-item {
    display: inline;
    text-transform: uppercase;
    color: #00af86;
    
    &.active {
      font-weight: bold;
    }

    &:after {
      content: '/';
      margin: 0 3px;
    }
    &:nth-last-of-type(1) {
      &:after {
        content: none;
      }
    }
    &:nth-child(1) {
      &:after {
        content: '/';
      }
    }
  }
}
