@import "mixins";


.content__text{
  padding-bottom: 0;
}

// button category post
.category-wr {
  margin: 0 -5px;
  margin-bottom: 15px;
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include media_interval(0, $media480) {
    margin-bottom: 20px;
  }

  .category {
    margin: 0 5px;
    margin-bottom: 10px;
    color: $pink;
    border: solid 1px $pink;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    @include font_default;
    @include font-size(12px, 15px);
    @include flexbox;
    &.active {
      font-weight: bold;
    }
    span {
      padding: 7px 14px 8px;
    }

    &.active, &:hover{
      color: $white;
      background-color: $pink;
      font-weight: inherit;
    }
    &.category-all {
      @include media_interval(0, $media480) {
        @include flex(1 1 auto);
      }
    }
  }
}


#blog-page {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #f2f8fb;

  .blog-wr {
    display: block;

    .description{
      margin-top: 15px;
      color: #333333;
      font-style: italic;
      max-width: 750px;
      @include font_default;
      @include font-size(14px, 21px);
      @include media_interval(0, $media768) {
        @include font-size(13px, 21px);
      }
    }
  }

  .content-block {
    text-align: left;
    margin: 0 -25px;
    @include flex(100%);
    @include flexbox;
    @include flex-flow(row wrap);

    @include media_interval(0, $media768){
      margin: -15px;
    }

    .post {
      vertical-align: top;
      display: inline-block;
      padding: 25px;
      width: 33.3%;
      position: relative;
      @include box-sizing(border-box);
      @include font_default;

      @include media_interval($media480, $media768) {
        padding: 15px;
        width: 50%;
      }

      @include media_interval(0, $media480) {
        padding: 15px;
        width: 100%;
      }
      .article-post {
        display: block;
        &:hover {
          .title {
            color: $pink;
          }
        }
      }

      .image{
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        &:before{
          content: '';
          display: block;
          padding-bottom: 57%;

          @include media_interval(0, $media480){
            padding-bottom: 54%;
          }
        }
      }

      .image-post{
        @include centrizeImage($minSize: 100.5%);
      }
      .category-wr, .category {
        margin-bottom: 0;
      }
      .category {
        margin-top: 20px;
        @include media_interval(0, $media768) {
          margin-top: 15px;
        }
      }
    }
  }
}

.date {
  display: inline-block;
  color: #666666;
  margin-bottom: 20px;
  @include font-size(13px, 21px);

  @include media_interval(0, $media768) {
    margin-bottom: 15px;
    @include font-size(12px, 21px);
  }
}

.title {
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
  @include font-size(18px, 22px);
  @include transition(color .8s ease-in-out);

  @include media_interval(0, $media768) {
    margin-bottom: 5px;
    white-space: initial;
    @include font-size(16px, 19px);
  }
}