@import "mixins";

#faq{
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 9999px;
    height: 100%;
    bottom: -70px;
    left: 0;
    z-index: -1;
    background-color: $white;
  }
}