<div class="social-links {{ classes }}">
  {% if links.social_google %}
    <a href="{{ links.social_google }}" target="_blank" class="go"></a>
  {% endif %}

  {% if links.social_twitter %}
    <a href="{{ links.social_twitter }}" target="_blank" class="tw"></a>
  {% endif %}

  {% if links.social_facebook %}
    <a href="{{ links.social_facebook }}" target="_blank" class="fb"></a>
  {% endif %}

  {% if links.social_instagram %}
    <a href="{{ links.social_instagram }}" target="_blank" class="ye"></a>
  {% endif %}
</div>