// Пример: @include transform(scale(1));
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin perspective($args...) {
  -webkit-perspective: $args;
  perspective: $args;
}

@mixin perspective-origin($args...) {
  -webkit-perspective-origin: $args;
  perspective-origin: $args;
}

@mixin backface-visibility($args...) {
  -webkit-backface-visibility: $args;
  backface-visibility: $args;
}

@mixin transform-style($args...) {
  -webkit-transform-style: $args;
  transform-style: $args;
}

@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -ms-transform-origin: $args;
  -o-transform-origin: $args;
  transform-origin: $args;
}
