{% load i18n %}

<div class="caption">
  {% if gallery_model.VIDEO_LINK_MODEL %}
    {% blocktrans with image_count=gallery.image_items.count video_count=gallery.video_link_items.count count counter=image_count %}
      Gallery has <span class="gallery-image-counter">{{ image_count }}</span> image and
      <span class="gallery-videolink-counter">{{ video_count }}</span> video
    {% plural %}
      Gallery has <span class="gallery-image-counter">{{ image_count }}</span> images and
      <span class="gallery-videolink-counter">{{ video_count }}</span> video
    {% endblocktrans %}
  {% else %}
    {% blocktrans with image_count=gallery.image_items.count count counter=image_count %}
      Gallery has <span class="gallery-image-counter">{{ image_count }}</span> image
    {% plural %}
      Gallery has <span class="gallery-image-counter">{{ image_count }}</span> images
    {% endblocktrans %}
  {% endif %}
</div>

<div class="gallery-items" id="gallery-{{ name }}-items">
  {% for item in gallery.all_items %}
    {% if item.is_image %}
      <div class="gallery-item gallery-item-image" data-id="{{ item.id }}"
          {% if item.image %}
           data-source_url="{{ item.image.url }}"
           data-source_size="{{ item.image.dimensions|join:',' }}"
          {% endif %}>

        <a {% if item.admin_show_url %}href="{{ item.admin_show_url }}"{% endif %} target="_blank" class="item-preview">
          <img src="{{ item.admin_variation.url }}">
        </a>

        <span class="item-controls">
          <input type="checkbox" class="check-box" value="{{ item.id }}">
          <a class="icon-edit item-crop" title="{% trans 'Crop image' %}" data-crop="{{ item.image.croparea }}"></a>
          <a class="icon-repeat item-rotate-left"
             title="{% trans 'Rotate by 90 degrees counterclockwise' %}"></a>
          <a class="icon-repeat item-rotate-right" title="{% trans 'Rotate by 90 degrees clockwise' %}"></a>
          <a class="icon-pencil item-form" title="{% trans 'Edit item' %}"></a>
          <a class="icon-trash item-delete" title="{% trans 'Delete' %}"></a>
        </span>
      </div>
    {% elif item.is_video_link %}
      <div class="gallery-item gallery-item-video-link" data-id="{{ item.id }}">
        <a href="{{ item.admin_show_url }}" target="_blank" class="item-preview">
          <span class="inner">
            <img src="{{ item.admin_variation.url }}">
          </span>
        </a>

        <span class="item-controls">
          <input type="checkbox" class="check-box" value="{{ item.id }}">
          <a class="icon-pencil item-form" title="{% trans 'Edit item' %}"></a>
          <a class="icon-trash item-delete" title="{% trans 'Delete' %}"></a>
        </span>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% block buttons %}
  <div class="buttons clearfix">
    <div style="float: left">
      {% if gallery.IMAGE_MODEL %}
        <button class="btn btn-success add-gallery-image">
          <i class="icon-folder-open icon-white"></i>
          {% trans 'Add image' %}
        </button>
      {% endif %}

      {% if gallery.VIDEO_LINK_MODEL %}
        <button class="btn btn-success add-gallery-video">
          {% trans 'Add video' %}
        </button>
      {% endif %}
    </div>
    <div style="float: right">
      <button class="btn btn-danger delete-checked-items"
              disabled="disabled">{% trans 'Delete checked items' %}</button>
      <button class="btn btn-danger delete-gallery">{% trans 'Delete gallery' %}</button>
    </div>
  </div>
{% endblock buttons %}

<div class="dragover-content">
  <span>{% trans 'Drop files here' %}</span>
</div>